.background-purple {
  background-color: #720e9e;
}

.custom-table {
  background-color: #720e9e !important;
  color: white;
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.custom-table thead {
  background-color: #720e9e !important;
  border-bottom: none;
}

.custom-table thead th {
  background-color: #720e9e;
  color: white !important;
  border: none;
  border-bottom: none;
}

.custom-table tbody tr {
  background-color: #720e9e !important;
}

.custom-table tbody tr:hover {
  background-color: #8f1cc5;
}

.textcolor-white {
  color: white;
}

.modal-content {
  background-color: #720e9e !important;
  color: white !important;
  border-radius: 8px;
  overflow: hidden;
}

.table-responsive {
  background-color: #720e9e;
}
