.background-purple {
  background-color: #720e9e;
}

.custom-table {
  background-color: #720e9e;
  color: white;
}

.custom-table thead {
  background-color: #720e9e !important;
}

.custom-table thead th {
  color: white !important;
}

.custom-table tbody tr {
  background-color: #720e9e;
}

.custom-table tbody tr:hover {
  background-color: #8f1cc5;
}

.textcolor-white {
  color: white;
}

.modal-content {
  background-color: #720e9e !important;
  color: white !important;
}

.table-responsive {
  background-color: #720e9e;
}
